body {
  font-family: Arial, Helvetica, sans-serif;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  text-align: right;
}
li:first-letter {
  text-transform: capitalize;
}

.outer-box {
  width: 643px;
  height: 494px;
  border: 3px solid #ffa726;
  background-color: #f5c885;
  margin: 45px auto;
  padding: 10px 10px 10px 10px;
}
.middle-box {
  width: 616px;
  height: 467px;
  border: 3px solid #dbd109;
  background-color: #f5f1a8;
}
.inner-box {
  margin: 10px;
  height: 439px;
  border: 3px solid #5a6aca;
  padding: 5px;
  background-color: white;
}
.your-city {
  text-align: center;
  font-size: 45px;
  color: #ff3266;
}
.city-center {
  position: relative;
  top: 7px;
}
.row {
  color: #1ab2a8;
  text-align: center;
}
.current-temp .weather-icon {
  font-size: 50px;
}
.current-temp strong {
  color: #ff3266;
  font-size: 50px;
  font-weight: 400;
}
.current-temp .units {
  position: relative;
  font-size: 14px;
  top: -34px;
}
.current-temp a {
  text-decoration: none;
}

.forecast {
  color: #1ab2a8;
  font-size: 20px;
}
.temp {
  font-size: 35px;
}

.btn {
  background-color: #d487e2;
  color: #570964;
  border-radius: 22px;
  transition: all 200ms ease-in-out;
  border: 1.5px solid #ab47bd;
}
.btn:hover {
  color: white;
  background-color: #ab47bd;
}
.currentButton {
  background-color: #5a6aca;
  color: white;
  border-radius: 22px;
  transition: all 200ms ease-in-out;
  border: 1.5px solid #223185;
  display: block;
  margin: 0 auto;
  margin-top: 4px;
}
.currentButton:hover {
  color: #223185;
  background-color: white;
}
.date-time {
  text-align: center;
  color: #1ab2a8;
}

img.animated-gif {
  height: auto;
  width: 45px;
}
